In [1]:
import numpy as np
import pandas as pd
from scipy import sparse, io
from collections import Counter

In [10]:
datasets = [ 'sce10x_qc', 'sce2_qc', 'sce8_qc']
name = datasets[2]

In [ ]:


df = pd.read_csv(f"{name}.csv", index_col=0).T
/print df.shape
sd = sparse.csr_matrix(df.values)
sparse.save_npz(f"{name}.npz", sd)
np.save(f"{name}_cells.npy", df.index.values)
np.save(f"{name}_genes.npy", df.columns)

truth = pd.read_csv(f'{name}_truth.csv', index_col = 0)

truth['truth'] = truth['x'].astype('category')

truth['clusters'] = truth['truth'].cat.codes
truth.drop('x', inplace=True, axis = 1)
truth.to_pickle(f'{name}_truth.pkl')

In [11]:
def loadDf(name):
    data = sparse.load_npz(f"{name}.npz")
    data = data.todense()
    df1 = pd.DataFrame(data = data)
    df1.set_index(np.load(f"{name}_cells.npy"), inplace=True)
    df1.columns = np.load(f"{name}_genes.npy")
    
    truth = pd.read_pickle(f'{name}_truth.pkl')
    return df1, truth

df, truth= loadDf(name)

In [12]:
print(df.shape, truth.shape)
display(df.head())

display(truth.head())

(296, 15571) (296, 2)

,ENSG00000245025,ENSG00000257433,ENSG00000248890,ENSG00000235385,ENSG00000105369,ENSG00000082074,ENSG00000121797,ENSG00000115468,ENSG00000080947,ENSG00000212385,...,ENSG00000224237,ENSG00000115827,ENSG00000197635,ENSG00000087086,ENSG00000123505,ENSG00000238287,ENSG00000121716,ENSG00000141968,ENSG00000233117,ENSG00000115687
L19,0,0,0,0,0,0,0,0,0,0,...,0,7,2,140,12,0,0,0,0,0
A10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,3,0,0,0,0,0
A11,0,0,0,0,0,0,0,0,0,0,...,0,3,0,24,5,0,0,0,0,0
A12,0,0,0,0,0,0,0,0,0,0,...,0,0,2,17,2,0,0,0,0,0
A13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,17,4,0,0,0,0,0

  truth  clusters
1     6         5
2     1         0
3     1         0
4     1         0
5     1         0